# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: 3B3T Wiki 
site_url: https://wiki.3b3t.ru
nav:
  - 'Главная страница': 'index.md'
  - 'Кастомные крафты и вещи': 'Custom_items_and_crafts.md'
  - 'Топы': 'tops.md'
  - 'Зачарования': 'enchantments.md'
  - 'Кейсы': 'cases.md'
  - 'Гайды':
    - '2FA': 'Guides/2FA.md'
    - 'Команды клана': 'Guides/Commands_clan.md'
    - 'Команды скиллов': 'Guides/Commands_skills.md'
    - 'Свитки': 'Guides/scrolls.md'
    - 'Кастомные зелья': 'Guides/custom_potions.md'
    - 'Вещи с боссов': 'Guides/itemsboss.md'
    - 'Доплата': 'Guides/donate_info.md'
  - 'Ивенты':
    - 'Мистический сундук': 'Events/Mystick_chest.md'

edit_uri: edit/main/docs/
theme:
  name: material
  language: ru
  palette:
    scheme: slate
    primary: deep purple
    accent: indigo
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  features:
    - content.action.edit
plugins:
  - git-revision-date-localized:
      enable_creation_date: true
      type: iso_date
      fallback_to_build_date: true
  - git-committers:
      repository: 3B3TServer/Docs
      branch: main
  - search
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra_css:
  - assets/groups_css/simple.css
  - assets/groups_css/unique.css
  - assets/groups_css/elite.css
  - assets/groups_css/ultimate.css
  - assets/groups_css/legendary.css
  - assets/groups_css/fabled.css