:root {
    --md-admonition-icon--enchants-unique: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4.01 0A4.01 4.01 0 0 0 0 4.01v15.98c0 2.21 1.8 4 4.01 4.01h15.98C22.2 24 24 22.2 24 19.99V4a4.01 4.01 0 0 0-4.01-4H4zm1.62 4.36h12.74c.7 0 1.26.57 1.26 1.27v12.74c0 .7-.56 1.27-1.26 1.27H5.63c-.7 0-1.26-.57-1.26-1.27V5.63a1.27 1.27 0 0 1 1.26-1.27zm3.83 4.35a.73.73 0 0 0-.73.73v5.09c0 .4.32.72.72.72h5.1a.73.73 0 0 0 .73-.72V9.44a.73.73 0 0 0-.73-.73h-5.1Z"/></svg>')
}
.md-typeset .admonition.enchants-unique,
.md-typeset details.enchants-unique {
    border-color: rgb(85, 255, 85);
}
.md-typeset .enchants-unique > .admonition-title,
.md-typeset .enchants-unique > summary {
    background-color: rgba(85, 255, 85, 0.1);
}
.md-typeset .enchants-unique > .admonition-title::before,
.md-typeset .enchants-unique > summary::before {
    background-color: rgb(85, 255, 85);
    -webkit-mask-image: var(--md-admonition-icon--enchants-unique);
    mask-image: var(--md-admonition-icon--enchants-unique);
}